<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" routerLink="/dictionaries"><i class="fa fa-home"></i> Retour à la liste des dictionnaires</a>
        </li>
        <li class="nav-item" *ngIf="scoreMax > 0">
            <span class="navbar-text" style="margin-left: 20px;">Score : {{ scoreCurrent }} / {{ scoreMax }}</span>
        </li>
    </ul>
</nav>
<div class="body">
    <div class="loader" *ngIf="dictionary === null">
        <i class="fa fa-cog fa-spin fa-2x fa-fw"></i> <span>Chargement des dictionnaires...</span>
    </div>
    <div class="answer" *ngIf="dictionary !== null && translation !== null">
        <div class="">
            <div>{{ dictionary[translation.fromLn] }} : {{ translation.fromWords }} <i style="margin-left:20px;" class="fa fa-refresh" (click)="newTranslation()"></i></div>
            <div *ngIf="translation.word.notes">Notes : {{ translation.word.notes }}</div>
        </div>
        <div class="">
            <form  class="form-inline" [formGroup]="form" (ngSubmit)="testTranslation()">
                <div class="form-group" [ngClass]="{'has-success': score === 10, 'has-danger': score != null && score < 10}">
                    <input type="text" class="form-control"
                           placeholder="{{ dictionary[translation.toLn] }}"
                           [readonly]="score != null"
                           formControlName="value" required
                           [ngClass]="{'form-control-success': score === 10, 'form-control-danger': score != null && score < 10}
                    ">
                    <button class="input-group-addon btn fa" type="submit"
                            [ngClass]="{'fa-send': score == null && form.controls['value'].value, 'fa-refresh': score != null || !form.controls['value'].value}"
                    ></button>
                </div>
            </form>
        </div>
        <div *ngIf="score !== null" class="">
            Réponse : {{ translation.toWords }}
        </div>
    </div>
</div>