$border-radius: 0px;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

ul{
  margin: 0px;
  padding: 0px;

  li{
    list-style: none;
  }
}

.loader {
  padding: 15px;

  & > *{
    vertical-align: middle;
  }
}